Here is a list of all the artists <br>

<div id="artistList">
<%= link_to 'Most Popular', artists_most_popular_path %> <div class="right"><%= link_to 'Add Artist', new_artist_path %></div>
  <% @artists.each do |artist| %>
  <h3 class="artistTitle-<%= artist.id %>"><%= link_to artist.artist_name, artist_path(artist) %></h4>
    <%= link_to 'Murals', artist_path(artist),  class: 'quickView black' %>
  <div id='artistMurals-<%= artist.id %>'>
  </div>
  <% end %>



</div>


<script type="text/javascript" charset="utf-8">
$(function() {
  $(".quickView").on('click',function(e){
    e.preventDefault()
      var path = e.target.pathname
      getMurals = $.getJSON(`${path}`)
      getMurals.done(function(artist) {
        let artistId = artist.id
        $(`#artistMurals-${artistId}`).empty()
        artist.murals.forEach(function(mural){
          $(`#artistMurals-${artistId}`).append(`<a class="black"href="#" data-muralId="${mural.id}">${mural.location_details} - ${mural.neighborhood.name}</a><br>`)
        })
      })

  })
})

</script>
