<br>
Click on the artist's name to more information! <br>
<br>
<div class="cotainer">
  <div class="row align-items-start">
    <div id="artistList" class="col-8">
      <% @artists.each do |artist| %>
      <p class="artistTitle-<%= artist.id %>"><%= link_to artist.artist_name.upcase, artist_path(artist) %>
      <span class="quickView pointer" data-id="<%= artist.id %>">murals</span></p>
    <div class="row col justify-content-center">
      <div class="col-4 quickView">

      </div>
      <div class="row align-items-start">
        <div id='artistMurals-<%= artist.id %>' class="col-lg">
        </div>
      </div>

    </div>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to 'Most Popular', artists_most_popular_path %> · <%= link_to 'Add Artist', new_artist_path %>
    </div>
  </div>
  <div id="getTotal">Get Total</div>
</div>
