<div class="artist-name row">
  <h1 class="col artist-title"><%= @artist.artist_name %></h1>

  <div class="col align-bottom">


  <%= content_tag(:a, 'Previous', class: "pointer showNextPrevious", id: "previousArtist") %>
  <%= content_tag(:a, 'Next', class: "pointer showNextPrevious", id: "nextArtist" ) %>
</div>
<div class="col-8">

</div>

</div>

<div class="artist-profile-pic">
</div>

<%= instagram(@artist) %>

<h4 >Real name: <span class="real-name"><%= @artist.name %></span><br></h4>

<h3>Short Bio:</h3>
<p class="bio"><%= @artist.bio %></p>
<h3>Murals: </h3>

<ul id="artistMurals">

<% @artist.murals.each do |mural| %>

 <li><%= link_to mural.location_details, artist_mural_path(@artist, mural)%> located in <%= link_to mural.neighborhood.name, neighborhood_path(mural.neighborhood)%>
 </li>
 <br>
<% end %>
</ul>
<h3>Don't see a Mural add it! <%= tag.a '+', id: 'newMural', class: 'pointer' %></h3>

<div class="d-none hide"id="newMuralForm">
  <%= render partial: 'murals/mural', locals: {mural: @mural, artist: @artist}%>
</div>
