<div class="artist-name">
  <h1 class="artist-title"><%= @artist.artist_name %></h1>

</div>


<%= instagram(@artist) %>

<h4 >Real name: <%= @artist.name %><br></h4>

<h3>Short Bio:</h3>
<%= @artist.bio %><br>

<h3>Murals: </h3>

<ul id="artistMurals">

<% @artist.murals.each do |mural| %>

 <li><%= link_to mural.location_details, artist_mural_path(@artist, mural), id:mural.id %> located in <%= link_to mural.neighborhood.name, neighborhood_path(mural.neighborhood)%>
   <p id="locationDetails-<%= mural.id %>"></p>
   <p id="neighborhood-<%= mural.id %>"></p>
 </li>
 <br>
<% end %>
</ul>

<div id="displayMural">

</div>

<%= link_to 'New Mural', new_artist_mural_path(@artist) %> <%= link_to 'Edit Details', edit_artist_path %>
<script type="text/javascript">
  $("#artistMurals").on('click', function(event){
    event.preventDefault()
    let path = event['target']['pathname']
    let showMural = $.get(path)
    showMural.done(function(muralJSON){
      // debugger
      $(`#locationDetails-${muralJSON.id}`).text(muralJSON.location_details)
      $(`#neighborhood-${muralJSON.id}`).text(muralJSON.neighborhood.name)
    })

  })
</script>
