
<div class="image">
   <%= image(@mural) %><br>
</div>

by <%= link_to @mural.artist.artist_name, artist_path(@mural.artist) %><br>
This is where you can find it! <p id="muralLocation"><%= @mural.location_details %> <%= link_to 'Edit', edit_artist_mural_path(@mural.artist, @mural) %></p>

<%= active?(@mural) %><br>
Neighborhood: <p id="muralHood"><%= link_to @mural.neighborhood.name, neighborhood_path(@mural.neighborhood), id: 'muralHood' %></p>

<%= previous_mural(@mural) %>
<%= next_mural(@mural) %>






<div id="mural">

</div>
