<!DOCTYPE html>
<html>
  <head>
    <title>NYCStreetArtGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Tajawal" rel="stylesheet">
  </head>

  <body>
    <div class="welcome">
      <h1 class="welcome-title">NYC Street Art</h1>

    </div>
    <nav class="welcome-nav">

      <%= link_to 'Sign-in', new_session_path %> · <%= link_to 'Sign-Up', new_user_path %> · <%= link_to 'Sign-In/Sign-Up via Google', '/auth/google_oauth2' %>
    </nav>
    <%= yield %>
  </body>
</html>
