<!DOCTYPE html>
<html>
  <head>
    <title>NYCStreetArtGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Tajawal" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=" rel="stylesheet"> -->
  </head>

  <body>
    <nav>
    <%= link_to 'Artists', artists_path %>   <%= link_to 'Murals', murals_path %> <%= link_to 'Neighborhoods', neighborhoods_path %>
    </nav>
    <%= yield %>
  </body>
</html>
