<!DOCTYPE html>
<html>
  <head>
    <title>NYCStreetArtGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Tajawal" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <nav class="nav-right sticky-top white">
      <%= link_to set_user.username.upcase, edit_user_path(set_user) %>  路 <%= link_to 'SIGN OUT', signout_path %>
    </nav>
    <nav class="nav-left sticky-top white">
    <%= link_to 'ARTISTS', artists_path %> 路 <%= link_to 'NEIBORHOODS', neighborhoods_path %> 路 <%= link_to 'MURALS', murals_path %> 路 <%= link_to 'HISTORY', history_path %>
    </nav>
    <div class="clear-nav">

    </div>
    <%= yield %>
  </body>
</html>
